In [50]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key

In [51]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shipunovo,RU,2021-04-17 20:38:45,52.1582,82.2173,34.56,84,4,5.01
1,1,Bredasdorp,ZA,2021-04-17 20:38:45,-34.5322,20.0403,50.00,93,0,5.75
2,2,Norman Wells,CA,2021-04-17 20:38:46,65.2820,-126.8329,42.80,52,20,5.75
3,3,Sakakah,SA,2021-04-17 20:38:46,29.9697,40.2064,77.00,25,0,9.22
4,4,Salinas,US,2021-04-17 20:38:46,36.6777,-121.6555,63.00,55,1,11.50

In [52]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     550 non-null    int64
 1   City        550 non-null    object
 2   Country     545 non-null    object
 3   Date        550 non-null    object
 4   Lat         550 non-null    float64
 5   Lng         550 non-null    float64
 6   Max Temp    550 non-null    float64
 7   Humidity    550 non-null    int64
 8   Cloudiness  550 non-null    int64
 9   Wind Speed  550 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 43.1+ KB

In [53]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [54]:
city_data_df.keys()

Index(['City_ID', 'City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp',
       'Humidity', 'Cloudiness', 'Wind Speed'],
      dtype='object')

In [55]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Zoom into the map so only 1 map of Earth is displayed
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.    use list comprehension for the weights value of max temps
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 58
What is the maximum temperature you would like for your trip? 85

In [63]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Sakakah,SA,2021-04-17 20:38:46,29.9697,40.2064,77.00,25,0,9.22
4,4,Salinas,US,2021-04-17 20:38:46,36.6777,-121.6555,63.00,55,1,11.50
5,5,Dingle,PH,2021-04-17 20:38:47,10.9995,122.6711,76.23,80,100,9.40
7,7,Cabra,ES,2021-04-17 20:38:47,37.4725,-4.4421,60.01,43,3,3.18
8,8,Lianyuan,CN,2021-04-17 20:38:48,27.6883,111.6642,61.88,88,100,2.95
11,11,Kruisfontein,ZA,2021-04-17 20:38:49,-34.0033,24.7314,61.43,40,32,2.86
13,13,Ankazoabo,MG,2021-04-17 20:38:49,-22.2833,44.5167,61.00,50,0,15.01
15,15,Ponta Do Sol,PT,2021-04-17 20:38:50,32.6667,-17.1000,60.01,66,99,1.01
16,16,Ushuaia,AR,2021-04-17 20:38:50,-54.8000,-68.3000,60.80,39,40,13.80
17,17,Hilo,US,2021-04-17 20:37:58,19.7297,-155.0900,80.60,54,20,4.61

In [64]:
preferred_cities_df.count()

City_ID       294
City          294
Country       294
Date          294
Lat           294
Lng           294
Max Temp      294
Humidity      294
Cloudiness    294
Wind Speed    294
dtype: int64

In [65]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3        Sakakah      SA     77.00  29.9697   40.2064
4        Salinas      US     63.00  36.6777 -121.6555
5         Dingle      PH     76.23  10.9995  122.6711
7          Cabra      ES     60.01  37.4725   -4.4421
8       Lianyuan      CN     61.88  27.6883  111.6642
11  Kruisfontein      ZA     61.43 -34.0033   24.7314
13     Ankazoabo      MG     61.00 -22.2833   44.5167
15  Ponta Do Sol      PT     60.01  32.6667  -17.1000
16       Ushuaia      AR     60.80 -54.8000  -68.3000
17          Hilo      US     80.60  19.7297 -155.0900

In [67]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}



# https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY

In [73]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Sakakah,SA,77.00,29.9697,40.2064,Fakhamat Al Orjoana Apartment
4,Salinas,US,63.00,36.6777,-121.6555,Laurel Inn & Conference Center
5,Dingle,PH,76.23,10.9995,122.6711,SEGAYA PROPERTY
7,Cabra,ES,60.01,37.4725,-4.4421,MS Fuente Las Piedras
8,Lianyuan,CN,61.88,27.6883,111.6642,Lianyuan Hotel

In [76]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [79]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))